* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col-4 {
  width: 33.3%;
  padding: 0 15px;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgba(237, 76, 92, 0.8);
  z-index: 5;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-title a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__nav-link {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__form-btn {
  padding: 12px 30px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__form-btn:hover {
  background-color: #FFFFFF;
  color: #ED4C5C;
}

.mobile-btn {
  width: 55px;
  height: 45px;
  display: none;
}

.mobile-btn span {
  height: 3px;
  width: 100%;
  background-color: white;
  position: relative;
}

.mobile-btn span::before,
.mobile-btn span::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
}

.mobile-btn span::before {
  top: -10px;
}

.mobile-btn span::after {
  top: 10px;
}

.hero {
  background: url("../img/hero/Bg.png") top left/100% 100% no-repeat;
  height: 782px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 50px;
}
.hero__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero__text {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  width: 500px;
}
.hero__btn {
  padding: 15px 50px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hero__btn:hover {
  background-color: #FFFFFF;
  color: #ED4C5C;
}

.overview__content {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 50px;
  position: relative;
}
.overview__content-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}
.overview__content-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.overview__content-link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ED4C5C;
  text-decoration: none;
}
.overview__content-circle {
  background-color: #ED4C5C;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.overview__content-circle a {
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.overview__content-circle a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.features {
  height: 660px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  margin-top: -120px;
}
.features__content {
  position: relative;
}
.features__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 293px;
  height: 198px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.features__card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
}
.features__card-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #101010;
}
.features__card-link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #ED4C5C;
  text-decoration: none;
}

.technology {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 50px;
}
.technology__title {
  margin-top: -100px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}
.technology__content {
  position: relative;
}
.technology__content-num {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 100px;
  line-height: 120px;
  color: rgba(16, 16, 16, 0.08);
  text-align: center;
}
.technology__box {
  text-align: center;
  position: absolute;
  top: 60px;
  width: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.technology__box-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
}
.technology__box-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.slider {
  background-color: #ED4C5C;
}
.slider__content {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 45px;
  width: 445px;
}
.slider__title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}
.slider__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
.slider__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__links-icon {
  color: #ffffff;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider__links-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact__content {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 70px;
}
.contact__content-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-top: -150px;
}
.contact__content-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  width: 430px;
}
.contact__form-btn {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1.5px solid #ED4C5C;
  background-color: #ED4C5C;
  border-radius: 6px;
  padding: 17px 34px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact__form-btn:hover {
  background-color: #ffffff;
  color: #ED4C5C;
}
.contact__form-input {
  padding: 20px 30px;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 25px;
}
.contact__form .text,
.contact__form .text2 {
  width: 47%;
}
.contact__form .text2 {
  margin-left: 5%;
}

.footer {
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
}
.footer__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
  color: #101010;
}
.footer__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  width: 200px;
}
.footer__menu li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  list-style-type: none;
}
.footer__link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  text-decoration: none;
  display: block;
}
.footer__link-2 {
  margin: 10px 0;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.footer__links-icon {
  color: #101010;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer__links-icon:hover {
  color: #ED4C5C;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.footer__copy {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  margin-top: 140px;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 20px 75px;
  }
}
@media screen and (max-width: 1170px) {
  .container {
    max-width: 960px;
  }

  .features__content-img {
    width: 100%;
  }

  .features__card {
    width: 80%;
    padding: 15px;
    row-gap: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .hero {
    height: 500px;
    row-gap: 20px;
  }
  .hero__title {
    font-size: 66px;
    line-height: 80px;
  }
  .hero__text {
    font-size: 18px;
    line-height: 145%;
  }

  .mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    position: fixed;
    left: 75px;
    top: 70px;
    z-index: 6;
  }

  .show-mobile-btn span {
    background: transparent;
  }

  .show-mobile-btn span::before,
.show-mobile-btn span::after {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .show-mobile-btn span::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .show-mobile-btn span::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background-color: rgba(237, 76, 92, 0.8);
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    right: -100%;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }

  .show-menu {
    right: 0;
  }

  .show-link {
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    width: 170px;
    padding: 15px 0;
    text-align: center;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    max-width: 720px;
  }

  .col-6 {
    width: 100%;
  }

  .col-3 {
    width: 50%;
  }

  .col-4 {
    width: 100%;
  }

  .mobile-btn {
    position: absolute;
    left: 10px;
    top: 30px;
  }

  .dd-selected-image {
    width: 25px !important;
    height: 25px !important;
  }

  .dd-options {
    width: 100px !important;
  }

  .dd-container {
    top: 20px;
    right: -27px;
  }

  .dd-pointer {
    right: 38px !important;
  }

  .header {
    padding: 0;
  }
  .header__logo {
    position: absolute;
    top: 5px;
    left: 10px;
  }
  .header__form-btn {
    padding: 7px 21px;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  h2 {
    font-size: 30px !important;
    line-height: 37px !important;
  }

  .hero {
    height: 380px;
    row-gap: 15px;
  }
  .hero__title {
    font-size: 60px;
    line-height: 74px;
  }
  .hero__text {
    font-size: 12px;
    line-height: 125%;
    width: 350px;
  }
  .hero__btn {
    padding: 10px 45px;
    font-size: 12px;
    line-height: 15px;
  }

  .overview__content {
    height: 400px;
  }
  .overview__content-2 {
    width: 70%;
    margin: 0 auto;
  }

  .features {
    height: 1540px;
  }
  .features__content {
    margin: 70px auto;
    width: 60%;
  }
  .features__title {
    margin-bottom: -100px;
  }

  .technology {
    height: 630px;
  }
  .technology__content {
    position: relative;
    margin-bottom: 90px;
  }
  .technology__title {
    margin-top: 25px;
  }

  .slider__content {
    height: 330px;
  }

  .contact__content {
    height: 320px;
  }
  .contact__content-title {
    margin-top: -40px;
  }

  .footer {
    height: 485px;
  }
  .footer__title {
    margin-top: 20px;
  }
}
@media screen and (max-width: 725px) {
  .container {
    max-width: 540px;
  }

  .features {
    height: 1265px;
  }

  .hero {
    height: 316px;
    row-gap: 10px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    max-width: 450px;
  }

  h2 {
    font-size: 22px !important;
    line-height: 26px !important;
  }

  .header {
    height: 69px;
  }

  .hero {
    height: 260px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 32px;
  }
  .hero__text {
    font-size: 11px;
    line-height: 123%;
    width: 280px;
  }
  .hero__btn {
    padding: 5px 30px;
    font-size: 8px;
    line-height: 12px;
  }

  .overview__content {
    height: 240px;
    row-gap: 23px;
  }

  .overview__content-text {
    font-size: 12px;
    line-height: 138%;
  }

  .features {
    height: 1120px;
  }
  .features__card {
    padding: 10px;
    row-gap: 7px;
    height: 135px;
  }
  .features__card-title {
    font-size: 14px;
    line-height: 17px;
  }
  .features__card-text, .features__card-link {
    font-size: 10px;
    line-height: 130%;
  }

  .slider__content {
    width: 370px;
  }
  .slider__content-img {
    width: 100%;
  }

  .footer__img {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .container {
    max-width: 370px;
  }

  .features {
    height: 1000px;
  }

  .technology__content-num {
    font-size: 90px;
    line-height: 100px;
  }

  .technology__box {
    width: 150px;
  }
  .technology__box-icon {
    width: 50px;
  }

  .technology__content {
    margin-bottom: 115px;
  }

  .slider__content {
    height: 240px;
    width: 280px;
    row-gap: 12px;
  }

  .contact__content {
    height: 260px;
    row-gap: 20px;
  }
  .contact__content-text {
    width: 280px;
  }

  .contact__form .text, .contact__form .text2 {
    width: 100%;
  }

  .contact__form .text2 {
    margin-left: 0;
  }

  .contact__form-input {
    padding: 15px 15px;
    margin-bottom: 5px;
  }

  .contact__form-btn {
    padding: 10px 20px;
    font-size: 10px;
    line-height: 11px;
  }
}
@media screen and (max-width: 450px) {
  .header__logo {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
  }
  .header__logo-title a {
    font-size: 13px;
    line-height: 16px;
  }

  .hero {
    height: 170px;
    row-gap: 5px;
  }

  .hero__title {
    font-size: 26px;
    line-height: 18px;
    margin-top: 73px;
  }

  .hero__text {
    font-size: 10px;
    line-height: 122%;
    width: 214px;
  }

  .overview__content-link {
    font-size: 12px;
  }

  .overview__content-circle {
    width: 50px;
    height: 50px;
  }

  .features {
    height: 800px;
  }

  .features__title {
    margin-top: 0;
  }

  .features__content {
    margin: 50px auto;
  }

  .features__card {
    padding: 7px;
    row-gap: 3px;
    height: 117px;
  }

  .features__card-title {
    font-size: 13px;
    line-height: 13px;
  }

  .footer__text {
    font-size: 11px;
    width: 120px;
  }
}