.slider {
  background-color: $primered;

  &__content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 45px;
    width: 445px;
  }


  &__title {
    @include font(600, 36px, 43px);
    color: #ffffff;
  }

  &__text {
    @include font(400, 14px, 140%);
    color: #ffffff;
  }
&__links{
  display: flex;
  column-gap: 25px;
  align-items: center;
  &-icon{
    color: #ffffff;
    font-size: 25px;
    transition: .5s;
    &:hover{
      transform: scale(1.2);
    }
  }
}

}